body{
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: black;
    font-family: "raleway", sans-serif;
}

header h1{
    font-size: 60px;
    padding: 20px;
    margin: 0;
    text-align: center;
}

header nav{
    margin: 0;
    padding: 100px;
    text-align: end;
    background-image: url(../img/coding-background-9izlympnd0ovmpli.jpg);
}

header nav a{
    font-size: 20px;
    padding: 20px;
    color: white;
}

section h2{
    text-align: center;
    font-size: 40px;
}

.educacion{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.educacion img{
    width: 10%;
    padding-right: 40px;
}

.educacion p{
    font-size: 150%;
}

.expLaboral div img{
    width: 20%;
}

.expLaboral h2{
    text-align: center;
    font-size: 40px;
}

.expLaboral div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.expLaboral div p{
    width: 40%;
    font-size: 120%;
}

footer{
    text-align: center;
    font-size: 200%;
    padding: 20px;
}
